<footer class="footerBox moveUp">
  <div class="container">
    <div class="lt">
      <a href="#" class="fooLogo"
        ><img src="/images/foo-logo.svg" alt="site-logo-black-white"
      /></a>

      <p>
        We model a decentralized, dynamic auction market platform in which a
        continuum of buyers and sellers participate in simultaneous, single-unit
        auctions each period.
      </p>

      <div class="copyRt">
        <p>
          © Developed as an entry for <a href="#"> Tezos Coinlist hackathon</a>
        </p>
      </div>
    </div>

    <div class="rt">
      <ul>
        <li>
          <span><img src="/images/book.svg" alt="contract-logo" /></span>
          <p>
            <a
              href="https://better-call.dev/carthagenet/KT1EN3rEg171zisjuC117VkGSiBbkgrpJ8EN"
              >KT1EN3rEg171zisjuC117VkGSiBbkgrpJ8EN</a
            >
          </p>
        </li>

        <li>
          <span><img src="/images/uc.svg" alt="github-logo" /></span>
          <p>
            <a
              href="https://github.com/muditmarda/DexAuction"
              target="blank"
              rel="noopener noreferrer"
            >
              DexAuction
            </a>
          </p>
        </li>

        <li>
          <span><img src="/images/youtube.svg" alt="youtube-logo" /></span>
          <p><a href="#"> https://youtube.com/dexauction </a></p>
        </li>

        <li>
          <span><img src="/images/mail.svg" alt="gmail-logo" /></span>
          <p>
            <a
              href="mailto: muditmarda@gmail.com"
              target="blank"
              rel="noopener noreferrer"
            >
              mailto: muditmarda@gmail.com
            </a>
          </p>
        </li>
      </ul>
    </div>
  </div>
</footer>
