<footer class="footerBox moveUp">
  <div class="container">
    <div class="lt">
      <!-- <a href="#" class="fooLogo"
        ><img src="/images/foo-logo.png" style="width:15%" alt="site-logo-black-white"
      /></a> -->

      <p>
        We create an auction-driven marketplace for rare, unique, precious and collectable items. 
        These include both, real-world antiques, artworks, and other high-priced things
        as well as digital non-fungible assets like kitties and other virtual characters, 
        collectable and tradable cards, and in-game assets.
      </p>

      <div class="copyRt">
        <p>
          © Submitted as an entry for <a href="https://hack.chain.link"> ChainLink Hackathon </a>
          Developed as an entry for <a href="https://coinlist.co/build/tezos/projects"> Coinlist Tezos Hackathon</a>
        </p>
      </div>
    </div>

    <div class="rt">
      <ul>
        <li>
          <span><img src="/images/book.svg" alt="contract-logo" /></span>
          <p>
            <a
              href="https://better-call.dev/carthagenet/KT1EN3rEg171zisjuC117VkGSiBbkgrpJ8EN"
              >KT1EN3rEg171zisjuC117VkGSiBbkgrpJ8EN</a
            >
          </p>
        </li>

        <li>
          <span><img src="/images/uc.svg" alt="github-logo" /></span>
          <p>
            <a
              href="https://github.com/muditmarda/TezAuction"
              target="blank"
              rel="noopener noreferrer"
            >
              TezAuction Codebase
            </a>
          </p>
        </li>

        <li>
          <span><img src="/images/youtube.svg" alt="youtube-logo" /></span>
          <p><a href="https://youtu.be/22_FlQr0ZiI"> TezAuction Walkthrough </a></p>
        </li>

        <li>
          <span><img src="/images/mail.svg" alt="gmail-logo" /></span>
          <p>
            <a
              href="mailto: muditmarda@gmail.com"
              target="blank"
              rel="noopener noreferrer"
            >
              mailto: mudit@tezosindia.foundation
            </a>
          </p>
        </li>
      </ul>
    </div>
  </div>
</footer>
