<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
    name="viewport"
    content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
  />
  <title>DEX Auction</title>
  <link rel="icon" type="image/x-icon" href="favicon.ico" />
  <link
    href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap"
    rel="stylesheet"
  />
  <link
    rel="stylesheet"
    href="/style/jquery-ui.css"
  />
  <!-- Compiled and minified CSS -->
  <link
    rel="stylesheet"
    href="/style/materialize.min.css"
  />
  <link rel="stylesheet" href="/style/bootstrap.min.css" />
  <link href="/style/style.css" rel="stylesheet" />
</head>
